<!DOCTYPE html>
<html>
<head>
  <title>Stocks</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>

<h2>Your stocks</h2>

<form action="/" method="POST">
  <input type="text" name="ticker" id="ticker">
  <input type="submit" value="Submit">
</form>

<table>
  {% for ticker in tickers %}
  <tr>
    <td>
      <a href="/ticker/{{ ticker.ticker }}">{{ ticker.ticker }}</a>
    </td>
    <td>
      <a href="/delete/{{ ticker.id }}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
